[submodule "subprojects/Catch2"]
	path = subprojects/Catch2
	url = ../../catchorg/Catch2
[submodule "subprojects/semanet"]
	path = subprojects/semanet
	url = ../../alexge233/semanet
[submodule "subprojects/wordnet-blast"]
	path = subprojects/wordnet-blast
	url = ../../jardon-u/wordnet-blast
[submodule "subprojects/SQLiteCpp"]
	path = subprojects/SQLiteCpp
	url = ../../SRombauts/SQLiteCpp
[submodule "subprojects/lithium"]
	path = subprojects/lithium
	url = https://github.com/matt-42/lithium
